.page-credits {
background-color: var(--color-primary);
height: 100vh;
display: flex;
}

.person-item {
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
}

.person-item header {
    padding: 3rem 3rem;
    display: flex;
    align-items: center;
}

.person-item header img:first-child {
    width: 5rem;
    height: 5rem;
    margin-right: 10px;
}

.person-item header img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.person-item header div {
    margin-left: 2.4rem;
}

.person-item header div strong {
    font: 700 2rem Poppins;
    display: block;
    color: var(--color-text-title);
}

.person-item header div span {
    font-size: 1.5rem;
    display: block;
    margin-top: 0.4rem;
}

.texto p {
    font: 400 2.4rem Archivo;
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
   
}

.texto a {
    height: 3rem;
    margin-left: 1rem;
   
}

@media (min-width: 1100px) {
    .person-item {
        margin-top: 10rem;
        margin-bottom: 22rem;
        margin-right: 20rem;
        margin-left: 20rem;
    }

    .texto p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding: 3.2rem 2rem;
    }

 
}