#root {
    background-color: var(--color-primary);
}

.person-item {
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
}

.person-item header {
    padding: 3rem 3rem;
    display: flex;
    align-items: center;
}

.person-item header img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.person-item header div {
    margin-left: 2.4rem;
}

.person-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-text-title);
}

.person-item header div span {
    font-size: 1.5rem;
    display: block;
    margin-top: 0.4rem;
}

.person-item > p {
    padding: 1.2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.person-item footer {
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person-item footer a {
    height: 3rem;
    display: flex;
    align-items: center;
}

@media (min-width: 700px) {
    .person-item {
        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-right: 20rem;
        margin-left: 20rem;
        overflow: hidden;
    }

    .person-item header,
    .person-item footer {
        padding: 3.2rem;
    }

    .person-item > p {
        padding: 0 3.2rem;
    }

    .person-item footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }

    .person-item footer a {
        justify-content: center;
    }

}