#page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.hero-image {
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 400 2.0rem Archivo;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    color: var(--color-button-text);
    transition: 0.2s;
}


.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a img {
    width: 4rem;
}

.buttons-container a.monitor {
    background: var(--color-primary-lighter);
}

.buttons-container a.person {
    background: var(--color-secundary);
}

.buttons-container a.monitor:hover {
    background: var(--color-primary-light);
}

.buttons-container a.person:hover {
    background: var(--color-secundary-dark);
}

.buttons-container a img {
    margin-right:  1.5rem;
}


@media (min-width: 1100px) {
    #page-landing-content {
        max-width: 1100px;
        display: grid;
        grid-template-rows: 300px 1fr;
        grid-template-columns: 1fr 3fr 2fr;
        grid-template-areas: 
        "logo hero hero"
        "buttons total total";
    }

    .logo-container {
        grid-area: logo;
        align-self: center;
        margin: 0;
        text-align: left;
    }

    .logo-container h2{
        text-align: initial;
        font-size: 3.6rem;
    }

    .hero-image {
        grid-area: hero;
        justify-self: end;
    }
    
    .buttons-container {
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons-container a {
        font-size: 2.4rem;
    }

}