#page-day-twentyeight ul li {
  position: relative;
  list-style: none;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-sizing: border-box;
 
}

#page-day-twentyeight ul li::before,
#page-day-twentyeight ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  filter: blur(20px);
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

#page-day-twentyeight ul li::after {
  filter: blur(40px);
}

#page-day-twentyeight ul li:hover::before,
#page-day-twentyeight ul li:hover::after {
  opacity: 1;
}

#page-day-twentyeight ul li a {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 80px;
  color: #fff;
  background: #000;
  font-size: 36px;
  border-radius: 50%;
}

#page-day-twentyeight ul li a .fa {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  transform: rotateY(0deg) scale(0.8);
  opacity: 0.2;
}

#page-day-twentyeight ul li a:hover .fa {
  opacity: 1;
  transform: scale(1.2);
}

#page-day-twentyeight ul li:nth-child(1) a,
#page-day-twentyeight ul li:nth-child(1)::before,
#page-day-twentyeight ul li:nth-child(1)::after {
  background: linear-gradient(90deg, #262829, #0c0e0f);
}

#page-day-twentyeight ul li:nth-child(2) a,
#page-day-twentyeight ul li:nth-child(2)::before,
#page-day-twentyeight ul li:nth-child(2)::after {
  background: linear-gradient(90deg, #015a8a, #043b58);
}

#page-day-twentyeight ul li:nth-child(3) a,
#page-day-twentyeight ul li:nth-child(3)::before,
#page-day-twentyeight ul li:nth-child(3)::after {
  background: linear-gradient(90deg, #67b4f0, #4f8dbd);
}

#page-day-twentyeight ul li:nth-child(4) a,
#page-day-twentyeight ul li:nth-child(4)::before,
#page-day-twentyeight ul li:nth-child(4)::after {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
}


@media (min-width: 700px) {
  #page-day-twentyeight   ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
}
