.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icons {
  margin-top: 24rem;
  display: flex;
  justify-content: center;
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	background: white;
	margin: 5px;
	transition: 1s;
}

.social-btn span {
	width: 0px;
	overflow: hidden;
	transition: 1s;
	text-align: center;
}

.social-btn:hover {
	width: 180px;
	border-radius: 5px;
}

.social-btn:hover span {
	padding: 2px;
	width: max-content;
}

#twitter p {
	color: #1da1f2;
	font-size: 30px;
}

#github p {
	color: #333;
	font-size: 30px;
}
