#page-day-nineteen {
    background-color: var(--color-primary-lighter);
    height: 100%;
}

.text {
  font-size: 10rem;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  color: white;
}

.text:hover {
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b
}
