#page-challenge-list main {
    background: var(--color-box-base);
    max-width: 74rem;
    padding-top: 1rem;
    overflow: hidden;
}

#page-challenge-list main p {
    font: 400 2rem Archivo;
    color: var(--color-text-title);
    margin: 2rem;
    width: 90%;
}

#page-challenge-list main img {
max-width: 30rem;
margin-left: 2rem;
}



@media (min-width: 700px) {


    #page-challenge-list main {
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 60px;
        background: var(--color-box-base);
        max-width: 190rem;
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "challenge challenge"
        "pic pics";
    }

    #page-challenge-list main p {
        margin-left: 10rem;
        margin-right: 10rem;
    }

}