.loader-block {
  margin-top: 24rem;
  display: flex;
  justify-content: center;
  }
  
  .loader-block p{
    margin-top: 3rem;
    position: absolute;
    text-align: center;
    line-height: 80px;
  }

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid var(--color-primary); /* Blue */
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite;
  }


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (min-width: 700px) {
    #page-day-two {
        max-width: 2200px;
    }

    .loader-block {
      margin-top: 24rem;
      display: flex;
      justify-content: center;
      }
      
}