.pulse-page {
  margin-top: 25rem;
  display: flex;
  justify-content: center;
}

.pulse-effect {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: #4a6ebb;
  font-size: 30px !important;
  
	border-radius: 20%;
	margin: 10px;
	height: 60px;
	width: 60px;

	box-shadow: var(--color-primary-darker);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.pulse-effect span {
  color: #fff;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(14, 20, 94, 0.7);
	}

	70% {
		transform: scale(1.05);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
