#preloader-animated {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
} 
  
 #preloader-animated ul {
	display: flex;
  }
  
  #preloader-animated ul li {
  list-style: none;
  font-size: 100px;
	letter-spacing: 10px;
	animation: animatedots 3s linear infinite;
  }
  
  @keyframes animatedots {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      color: var(--color-primary-darker);
    }
    16% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0.7;
      color: var(--color-primary-dark);
    }
    33% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1; 
    } 
    100% {
      color: var(--color-primary);
		text-shadow: 0 0 30px #09e954;
    }
  }

  #preloader-animated ul li:nth-child(1) {
    animation-delay: 0;
    }
    #preloader-animated ul li:nth-child(2) {
    animation-delay: 0.12s;
    }
    #preloader-animated ul li:nth-child(3) {
    animation-delay: 0.24s;
    }


  @media (min-width: 700px) {

    #page-day-seven {
        max-width: 2200px;
	}
	  
	#preloader-animated ul li {
		font-size: 100px;
		letter-spacing: 20px;
	  }

}